.pick{
    .pick-top{
        h2{
            font-size: 42px;
            margin: 20px 0 10px;
        }
    }
    .pick-bottom{
        .banner-1{
            display: block;
        }
        .banner-2{
            display: none;
        }
       .pick-bottom-overlay{
            top: 50%;
            z-index: 100;
            width: 80%;
            height: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-flow: column-reverse;
            align-items: center;
            cursor: pointer;
       }
    }
}
.pick{
    .pick-top{
        .card-title{
            font-size: 20px;
        }
    }
}
//responsive
@media screen and (max-width:800px){
    .pick{
        .pick-bottom{
            .banner-1{
                display: none;
            }
            .banner-2{
                display: block;
            }
        }
    }
}